USE [UNICOMER]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPaneCount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwProduct'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwProduct'
GO
ALTER TABLE [dbo].[PRODUCT] DROP CONSTRAINT [FK_PRODUCT_UPC]
GO
ALTER TABLE [dbo].[PRODUCT] DROP CONSTRAINT [FK_PRODUCT_TRANSACTION_TYPE]
GO
ALTER TABLE [dbo].[PRODUCT] DROP CONSTRAINT [FK_PRODUCT_STORE2]
GO
ALTER TABLE [dbo].[PRODUCT] DROP CONSTRAINT [FK_PRODUCT_STORE1]
GO
ALTER TABLE [dbo].[PRODUCT] DROP CONSTRAINT [FK_PRODUCT_POLICY]
GO
ALTER TABLE [dbo].[PRODUCT] DROP CONSTRAINT [FK_PRODUCT_Model]
GO
ALTER TABLE [dbo].[PRODUCT] DROP CONSTRAINT [FK_PRODUCT_MATERIAL]
GO
ALTER TABLE [dbo].[PRODUCT] DROP CONSTRAINT [FK_PRODUCT_COLOR]
GO
/****** Object:  Table [dbo].[POLICY]    Script Date: 17/1/2021 23:05:31 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POLICY]') AND type in (N'U'))
DROP TABLE [dbo].[POLICY]
GO
/****** Object:  Table [dbo].[MODEL]    Script Date: 17/1/2021 23:05:31 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MODEL]') AND type in (N'U'))
DROP TABLE [dbo].[MODEL]
GO
/****** Object:  Table [dbo].[MATERIAL]    Script Date: 17/1/2021 23:05:31 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MATERIAL]') AND type in (N'U'))
DROP TABLE [dbo].[MATERIAL]
GO
/****** Object:  Table [dbo].[COLOR]    Script Date: 17/1/2021 23:05:31 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COLOR]') AND type in (N'U'))
DROP TABLE [dbo].[COLOR]
GO
/****** Object:  View [dbo].[vwProduct]    Script Date: 17/1/2021 23:05:31 ******/
DROP VIEW [dbo].[vwProduct]
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 17/1/2021 23:05:31 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PRODUCT]') AND type in (N'U'))
DROP TABLE [dbo].[PRODUCT]
GO
/****** Object:  Table [dbo].[UPC]    Script Date: 17/1/2021 23:05:31 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UPC]') AND type in (N'U'))
DROP TABLE [dbo].[UPC]
GO
/****** Object:  Table [dbo].[TRANSACTION_TYPE]    Script Date: 17/1/2021 23:05:31 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TRANSACTION_TYPE]') AND type in (N'U'))
DROP TABLE [dbo].[TRANSACTION_TYPE]
GO
/****** Object:  Table [dbo].[STORE]    Script Date: 17/1/2021 23:05:31 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[STORE]') AND type in (N'U'))
DROP TABLE [dbo].[STORE]
GO
/****** Object:  Table [dbo].[STORE]    Script Date: 17/1/2021 23:05:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STORE](
	[IdStore] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Direction] [varchar](200) NULL,
	[phone1] [varchar](10) NULL,
	[phone2] [varchar](10) NULL,
	[InsertDate]  AS (getdate()),
 CONSTRAINT [PK_STORE] PRIMARY KEY CLUSTERED 
(
	[IdStore] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSACTION_TYPE]    Script Date: 17/1/2021 23:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSACTION_TYPE](
	[IdTransactionType] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](100) NOT NULL,
	[InsertDate]  AS (getdate()),
 CONSTRAINT [PK_TRANSACTION_TYPE] PRIMARY KEY CLUSTERED 
(
	[IdTransactionType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UPC]    Script Date: 17/1/2021 23:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UPC](
	[IdUpc] [int] IDENTITY(1,1) NOT NULL,
	[UPC] [varchar](50) NULL,
	[Description] [varchar](100) NULL,
	[InsertDate]  AS (getdate()),
	[UserInsert] [int] NULL,
	[IdPolicy] [int] NULL,
 CONSTRAINT [PK_UPC] PRIMARY KEY CLUSTERED 
(
	[IdUpc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 17/1/2021 23:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[IdStoreLoadProduct] [int] NULL,
	[IdStoreDownLoadProduct] [int] NULL,
	[IdColor] [int] NULL,
	[IdMaterial] [int] NULL,
	[IdPolicy] [int] NULL,
	[IdTransactionType] [int] NULL,
	[IdUpc] [int] NULL,
	[IdModel] [int] NULL,
	[InsertDate]  AS (getdate()),
	[UserInsert] [int] NULL,
 CONSTRAINT [PK_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwProduct]    Script Date: 17/1/2021 23:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwProduct]
AS
SELECT        TT.Description AS ESTADOTRANSACCION, dbo.UPC.UPC, CASE WHEN (PRODUCT .IdStoreLoadProduct IS NOT NULL) THEN STORE.Name END AS TIENDA_CARGOPRODINICIALMENTE, 
                         CASE WHEN (PRODUCT .IdStoreDownLoadProduct IS NOT NULL) THEN STORE.Name END AS TIENDA_MOVIOPRODUCTO
FROM            dbo.PRODUCT INNER JOIN
                         dbo.TRANSACTION_TYPE AS TT ON dbo.PRODUCT.IdTransactionType = TT.IdTransactionType INNER JOIN
                         dbo.STORE ON dbo.PRODUCT.IdStoreLoadProduct = dbo.STORE.IdStore OR dbo.PRODUCT.IdStoreDownLoadProduct = dbo.STORE.IdStore INNER JOIN
                         dbo.UPC ON dbo.PRODUCT.IdUpc = dbo.UPC.IdUpc
GO
/****** Object:  Table [dbo].[COLOR]    Script Date: 17/1/2021 23:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COLOR](
	[IdColor] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[InsertDate]  AS (getdate()),
 CONSTRAINT [PK_COLOR] PRIMARY KEY CLUSTERED 
(
	[IdColor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATERIAL]    Script Date: 17/1/2021 23:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATERIAL](
	[IdMaterial] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](100) NULL,
	[InsertDate]  AS (getdate()),
 CONSTRAINT [PK_MATERIAL] PRIMARY KEY CLUSTERED 
(
	[IdMaterial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MODEL]    Script Date: 17/1/2021 23:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MODEL](
	[IdModel] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](200) NULL,
	[InsertDate]  AS (getdate()),
	[UserInsert] [int] NULL,
 CONSTRAINT [PK_Model] PRIMARY KEY CLUSTERED 
(
	[IdModel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POLICY]    Script Date: 17/1/2021 23:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POLICY](
	[IdPolicy] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](200) NULL,
	[InsertDate]  AS (getdate()),
 CONSTRAINT [PK_POLOCY] PRIMARY KEY CLUSTERED 
(
	[IdPolicy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[COLOR] ON 

INSERT [dbo].[COLOR] ([IdColor], [Name]) VALUES (1, N'AMARILLO')
INSERT [dbo].[COLOR] ([IdColor], [Name]) VALUES (2, N'AMARILLO CON FRANJAS MULTICOLOR')
INSERT [dbo].[COLOR] ([IdColor], [Name]) VALUES (3, N'AMARILLO NEGRO FRANJAS LETRAS MULTICOLOR')
GO
SET IDENTITY_INSERT [dbo].[COLOR] OFF
GO
SET IDENTITY_INSERT [dbo].[MATERIAL] ON 

INSERT [dbo].[MATERIAL] ([IdMaterial], [Name], [Description]) VALUES (1, N'ACTIVA 125 AZUL 2018', NULL)
INSERT [dbo].[MATERIAL] ([IdMaterial], [Name], [Description]) VALUES (2, N'ACTIVA 125 BLANCO 2019', NULL)
INSERT [dbo].[MATERIAL] ([IdMaterial], [Name], [Description]) VALUES (3, N'ACTIVA 125 NEGRO 2018', NULL)
GO
SET IDENTITY_INSERT [dbo].[MATERIAL] OFF
GO
SET IDENTITY_INSERT [dbo].[MODEL] ON 

INSERT [dbo].[MODEL] ([IdModel], [Description], [UserInsert]) VALUES (1, N'MODELO 2019 125CC COMBUSTIBLE GASOLINA CILIS 1 EJES 2 ASIENTOS 2 TIPO MOTO USO MOTOCICLETA', NULL)
INSERT [dbo].[MODEL] ([IdModel], [Description], [UserInsert]) VALUES (2, N'MODELO 2019 110 CC COMBUSTIBLE GASOLINA CILIS 1 EJES 2 ASIENTOS 2 TIPO MOTO USO MOTOCICLETA', NULL)
INSERT [dbo].[MODEL] ([IdModel], [Description], [UserInsert]) VALUES (3, N'MODELO 2019 125 CC COMBUSTIBLE GASOLINA CILIS 1 EJES 2 ASIENTOS 2 TIPO MOTO USO MOTOCICLETA', NULL)
SET IDENTITY_INSERT [dbo].[MODEL] OFF
GO
SET IDENTITY_INSERT [dbo].[POLICY] ON 

INSERT [dbo].[POLICY] ([IdPolicy], [Name], [Description]) VALUES (1, N'305-9506410', NULL)
INSERT [dbo].[POLICY] ([IdPolicy], [Name], [Description]) VALUES (2, N'329-8503114', NULL)
INSERT [dbo].[POLICY] ([IdPolicy], [Name], [Description]) VALUES (3, N'341-9500138', NULL)
GO
SET IDENTITY_INSERT [dbo].[POLICY] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCT] ON 

INSERT [dbo].[PRODUCT] ([ProductId], [IdStoreLoadProduct], [IdStoreDownLoadProduct], [IdColor], [IdMaterial], [IdPolicy], [IdTransactionType], [IdUpc], [IdModel], [UserInsert]) VALUES (1, 1, NULL, 32, 133, 83, 4, 75, 52, NULL)
INSERT [dbo].[PRODUCT] ([ProductId], [IdStoreLoadProduct], [IdStoreDownLoadProduct], [IdColor], [IdMaterial], [IdPolicy], [IdTransactionType], [IdUpc], [IdModel], [UserInsert]) VALUES (2, 29, NULL, 114, 138, 83, 4, 75, 52, NULL)
INSERT [dbo].[PRODUCT] ([ProductId], [IdStoreLoadProduct], [IdStoreDownLoadProduct], [IdColor], [IdMaterial], [IdPolicy], [IdTransactionType], [IdUpc], [IdModel], [UserInsert]) VALUES (3, 29, NULL, 16, 176, 200, 4, 41, 52, NULL)
GO
SET IDENTITY_INSERT [dbo].[PRODUCT] OFF
GO
SET IDENTITY_INSERT [dbo].[STORE] ON 

INSERT [dbo].[STORE] ([IdStore], [Name], [Direction], [phone1], [phone2]) VALUES (1, N'UNICOMER - ALMACENES TROPIGAS - NUEVA CONCEPCION', NULL, NULL, NULL)
INSERT [dbo].[STORE] ([IdStore], [Name], [Direction], [phone1], [phone2]) VALUES (2, N'UNICOMER PUERTO BARRIOS', NULL, NULL, NULL)
INSERT [dbo].[STORE] ([IdStore], [Name], [Direction], [phone1], [phone2]) VALUES (3, N'UNICOMER-ALMACENES TROPIGAS CHIQUIMULA', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[STORE] OFF
GO
SET IDENTITY_INSERT [dbo].[TRANSACTION_TYPE] ON 

INSERT [dbo].[TRANSACTION_TYPE] ([IdTransactionType], [Description]) VALUES (1, N'Vendido')
INSERT [dbo].[TRANSACTION_TYPE] ([IdTransactionType], [Description]) VALUES (2, N'Reservado')
INSERT [dbo].[TRANSACTION_TYPE] ([IdTransactionType], [Description]) VALUES (3, N'Devuelto')
SET IDENTITY_INSERT [dbo].[TRANSACTION_TYPE] OFF
GO
SET IDENTITY_INSERT [dbo].[UPC] ON 

INSERT [dbo].[UPC] ([IdUpc], [UPC], [Description], [UserInsert], [IdPolicy]) VALUES (1, N'1234487700005', NULL, NULL, NULL)
INSERT [dbo].[UPC] ([IdUpc], [UPC], [Description], [UserInsert], [IdPolicy]) VALUES (2, N'410462900006', NULL, NULL, NULL)
INSERT [dbo].[UPC] ([IdUpc], [UPC], [Description], [UserInsert], [IdPolicy]) VALUES (3, N'410818600000', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[UPC] OFF
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_COLOR] FOREIGN KEY([IdColor])
REFERENCES [dbo].[COLOR] ([IdColor])
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK_PRODUCT_COLOR]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_MATERIAL] FOREIGN KEY([IdMaterial])
REFERENCES [dbo].[MATERIAL] ([IdMaterial])
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK_PRODUCT_MATERIAL]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_Model] FOREIGN KEY([IdModel])
REFERENCES [dbo].[MODEL] ([IdModel])
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK_PRODUCT_Model]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_POLICY] FOREIGN KEY([IdPolicy])
REFERENCES [dbo].[POLICY] ([IdPolicy])
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK_PRODUCT_POLICY]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_STORE1] FOREIGN KEY([IdStoreDownLoadProduct])
REFERENCES [dbo].[STORE] ([IdStore])
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK_PRODUCT_STORE1]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_STORE2] FOREIGN KEY([IdStoreLoadProduct])
REFERENCES [dbo].[STORE] ([IdStore])
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK_PRODUCT_STORE2]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_TRANSACTION_TYPE] FOREIGN KEY([IdTransactionType])
REFERENCES [dbo].[TRANSACTION_TYPE] ([IdTransactionType])
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK_PRODUCT_TRANSACTION_TYPE]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_UPC] FOREIGN KEY([IdUpc])
REFERENCES [dbo].[UPC] ([IdUpc])
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK_PRODUCT_UPC]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[26] 4[27] 2[28] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "PRODUCT"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 263
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TT"
            Begin Extent = 
               Top = 6
               Left = 301
               Bottom = 119
               Right = 486
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "STORE"
            Begin Extent = 
               Top = 6
               Left = 524
               Bottom = 136
               Right = 694
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "UPC"
            Begin Extent = 
               Top = 6
               Left = 732
               Bottom = 136
               Right = 902
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwProduct'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwProduct'
GO
